<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>650224688657-esp2qo6k0kbreaago82d9llcqg6ro0ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650224688657-esp2qo6k0kbreaago82d9llcqg6ro0ir</string>
	<key>API_KEY</key>
	<string>AIzaSyDXZciW7kP6j1Y_e1jFAz7ypq_YwWaMhg0</string>
	<key>GCM_SENDER_ID</key>
	<string>650224688657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryam</string>
	<key>PROJECT_ID</key>
	<string>sandbox-55e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbox-55e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650224688657:ios:55ea1b9a46637e6d</string>
	<key>DATABASE_URL</key>
	<string>https://sandbox-55e7c.firebaseio.com</string>
</dict>
</plist>